<div class="feedback-links">
  <h3>Join our Official Communities</h3>
  <ul class="list-unstyled">
    <li><a href="https://x.com/actocracy" target="_blank">X | Twitter</a></li>
    <li><a href="https://t.me/actocracy_en" target="_blank">Telegram Chat</a></li>
    <li><a href="https://t.me/actocracy" target="_blank">News Channel:</a></li>
    <li><a href="https://discord.gg/AWXQk4s9ZJ" target="_blank">Discord Server</a></li>
    <li><a href="https://www.tiktok.com/@actocracy" target="_blank">TikTok</a></li>
    <li><a href="https://www.instagram.com/actocracy" target="_blank">Instagram</a></li>
  </ul>
</div>