<div class="feedback-links">
  <h3>{{ i18n "join_our_communities" }}</h3>
  <ul class="list-unstyled">
    <li><a href="https://x.com/actocracy" target="_blank">X | Twitter</a></li>
    <li><a href="https://t.me/actocracy_en" target="_blank">{{ i18n "tg_chat" }}</a></li>
    <li><a href="https://t.me/actocracy" target="_blank">{{ i18n "news_channel" }}</a></li>
    <li><a href="https://discord.gg/AWXQk4s9ZJ" target="_blank">{{ i18n "discord_server" }}</a></li>
    <li><a href="https://www.tiktok.com/@actocracy" target="_blank">TikTok</a></li>
    <li><a href="https://www.instagram.com/actocracy" target="_blank">Instagram</a></li>
  </ul>
</div>