{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
      <!-- Render the lead from the front matter if it exists -->
      {{ with .Params.lead }}
        <p class="lead">{{ . | safeHTML }}</p>
      {{ end }}
      <!-- Render the "Get Started" button -->
      <a class="btn btn-info btn-cta rounded-pill btn-lg my-3" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}basics/project-overview/" role="button">{{ i18n "get_started" }}</a>
      <!-- Conditionally render the carbon ads partial -->
      {{ if site.Params.add_ons.carbonAds }}
        {{ partial "main/carbon-ads" . }}
      {{ end }}
    </div>
  </div>
  <!-- Render the full content of _index.md -->
  <div class="row justify-content-center">
    <div class="col-lg-9">
      {{ .Content }}
    </div>
    <div class="col-lg-3">
      {{ partial "sidebar/feedback" . }}
    </div>
  </div>
</section>
{{ end }}
